<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Employee</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/style.css}">

<style>
body {
	/* font-family: 'Times New Roman', Times, serif; */
	background-color: #f3f3f3;
}

.labels {
	font-size: 15px;
	font-weight: bold;
}
</style>
</head>

<body>

	<div class="container bg-white ">

		<h2 style="padding-top: 50px; margin-left: 80px;">Thêm Ứng viên
			mới</h2>
		<form th:action="@{/recruitment//insert-candidate}" method="POST"
			th:object="${candidate}">
			<div class="row">
				<div class="col-1 border-right"></div>
				<div class="col border-right ">
					<div class="p-3 py-5">
						<div
							class="d-flex justify-content-between align-items-center mb-3">
							<h4 class="text-right">THÔNG TIN ỨNG VIÊN</h4>
						</div>

						<div class="mt-2">
							<label for="name" class="labels">Họ và Tên </label> <input
								type="text" id="name" th:field="*{name}" class="form-control"
								placeholder="Nhập tên nhân viên">
						</div>
						<div class="mt-2">
							<label for="sex" class="labels">Giới tính </label> <input
								type="text" id="sex" th:field="*{sex}" class="form-control"
								placeholder="Nhập giới tính">
						</div>
						<div class="mt-3">
							<label for="dob" class="labels">Ngày sinh</label> <input
								type="date" id="dob" th:field="*{dob}" class="form-control"
								>
						</div>
						<div>
							<label class="labels" for="CMND">CMND/CCCD</label> <input
								type="text" th:field="*{idcard}" id="CMND" class="form-control"
								placeholder="Nhập số CMND hoặc thẻ CCCD">
						</div>
						<div class="">
							<label for="address1" class="labels">Quê quán</label> <input
								type="text" id="address1" name="address1" class="form-control"
								placeholder="Nhập địa chỉ nguyên quán">
						</div>
						<div class="">
							<label for="address2" class="labels">Địa chỉ thường trú</label> <input
								type="text" id="address2" th:field="*{address}"
								class="form-control" placeholder="Nhập địa chỉ thường trú">
						</div>
						<div class="">
							<label for="phone" class="labels">Số điện thoại</label> <input
								type="text" id="phone" th:field="*{phone}" class="form-control"
								placeholder="Nhập số điện thoại">
						</div>
						<div class="">
							<label for="email" class="labels">Email</label> <input
								type="text" id="email" th:field="*{email}" class="form-control"
								placeholder="Nhập địa chỉ Email">
						</div>
					</div>

				</div>

				<div class="col p-5">
					<label class="labels" style="font-size: large;">ỨNG TUYỂN</label>

					<div class="">
						<label for="term" class="labels">Đợt ứng tuyển</label> <select
							name="term" id="term" class="form-control">
							<th:block th:each="term : ${terms}">
								<option th:value="${term.id}" th:text="${term.name}">012021
									Đợt 1 năm 2021</option>
							</th:block>
						</select>
					</div>
					<div class="">
						<label for="position_id" class="labels">Vị trí</label> <select
							id="position_id" class="form-control"
							th:field="*{recruitmentPosition.id}">
							<th:block th:each="recruitmentPosition : ${positions}">
								<option th:value="${recruitmentPosition.id}"
									th:text="${recruitmentPosition.title.title_name}">012021
									Đợt 1 năm 2021</option>
							</th:block>
						</select>
					</div>
					<div>
						<button type="submit" class="btn btn-success mt-5">Thêm
							ứng viên</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript">
	$('#term').on('change', function (e) {
	    var optionSelected = $("option:selected", this);
	    var term_id = this.value;
	    getPositionInTerm(term_id);
	});
	
	const getPositionInTerm = (term_id) => {
		console.log(term_id);
		$.ajax({
	        url: `http://localhost:8081/recruitment-position/term/${term_id}`,
	        type: 'GET',
	        dataType: 'json',
	        success: function(res) {
	            console.log(res);
	            $('#position_id').html('');
	            for (position of res) {
	            	$('#position_id').append(`<option value="${position.id}">${position.title.title_name}</option>`)
	            }
	        }
	    });
	}
	</script>
</body>

</html>