<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<title>Recruitment</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous" />
<link rel="stylesheet" href="/src/main/resources/style.css" />
<style>
</style>
</head>

<body>
	<div class="container">
		<div class="row mb-3" style="padding-top: 50px; ">
			<div class="col-6">
				<h1>KẾ HOẠCH TUYỂN DỤNG</h1>
			</div>
			<div class="col">
				<a th:href="@{/recruitment/insert-recruitment-position}">
					<button class=" btn btn-success" >
						<i class="fa fa-plus small"></i> Thêm vị trí tuyển dụng
					</button>
				</a>
			</div>
			<div class="col">
				<a th:href="@{/recruitment/insert-term}">
					<button class=" btn btn-info" >
						<i class="fa fa-plus small"></i> Thêm đợt tuyển dụng mới
					</button>
				</a>
			</div>
		</div>

	</div>
	<div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col">
				<table class="table table-bordered table-hover"
					style="padding: 20px;">
					<thead>
						<th>#</th>
						<th>Trạng thái</th>
						<th>Mã đợt tuyển dụng</th>
						<th>Tên đợt tuyển dụng</th>
						<th style="width: 200px;">Mô tả</th>
						<th>Ngày bắt đầu</th>
						<th>Ngày kết thúc</th>
					</thead>
					<th:block th:each="term,iterStat : ${terms}">
						<tr>
							<td th:text="${iterStat.index}">1</td>
							<td th:text="${term.status}">Đang thực hiện</td>
							<td th:text="${term.id}">012021</td>
							<td th:text="${term.name}">Đợt 1 năm 2021</td>
							<td th:text="${term.description}">Tuyển 12 nhân viên:Tuyển 5
								thằng ab, 4 thằng bc, 3 thằng db</td>
							<td th:text="${term.start_date}">17/05/2021</td>
							<td th:text="${term.end_date}">17/06/2021</td>
						</tr>
					</th:block>
				</table>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</body>

</html>