<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Term recruitment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link rel="stylesheet" href="/src/main/resources/style.css" />
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="row" style="padding-top: 50px;">
            <div class="col">
                <h1>KẾ HOẠCH TUYỂN DỤNG </h1>
            </div>
            <div class="col">
                <a href="insertTerm.html"> <button class=" btn btn-info" style="margin-left: 300px;"> <i class="fa fa-plus small"></i> Thêm đợt
                    tuyển dụng mới</button>
                </a>
            </div>
        </div>

    </div>
    <div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <table class="table table-bordered table-hover" style="padding: 20px;">
                    <thead>
                        <th>#</th>
                        <th>Trạng thái</th>
                        <th>Mã đợt tuyển dụng</th>
                        <th>Tên đợt tuyển dụng</th>
                        <th style="width: 200px;">Mô tả</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>Đang thực hiện</td>
                        <td>012021</td>
                        <td>Đợt 1 năm 2021</td>
                        <td>Tuyển 12 nhân viên:Tuyển 5 thằng ab, 4 thằng bc, 3 thằng db</td>
                        <td>17/05/2021</td>
                        <td>17/06/2021</td>
                    </tr>


                </table>
            </div>
            <div class="col-1"></div>
        </div>


    </div>

    </div>
</body>

</html>