<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Employee</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous" />
<script
	src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
<script
	src="https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script
	src="https://cdn.anychart.com/releases/8.10.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script
	src="https://cdn.anychart.com/releases/8.10.0/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<body>
<div th:replace="fragments/topnav :: navbar"></div>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script th:inline="javascript" type="text/javascript">
var xValues = [[${dp}]];
console.log(xValues);
var yValues = [[${number}]];
console.log(yValues);
var barColors = [
	'red',
  "#75fdff",
  "#00aba9",
  '#4ae632',
  "#2b5797",
  "#e8c3b9",
  "#1e7145",
  'green',
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
	  showDatasetLabels : true,
	  
  
    title: {
      display: true,
      text: "Phân bố thành viên theo phòng ban"
    }
  }
});
</script>

</body>
</html>