<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Chỉnh sửa thông tin nhân viên</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/main/resources/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand brand" href="/src/main/resources/templates/index.html">HRM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav mr-auto">
                <!-- Nhân viên -->
                <li class="nav-item dropdown nav-title">
                    <a class="nav-link dropdown-toggle" href="#" id="employee-bar" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color: black;">
                        <b>Nhân viên</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">#</a>
                        <a class="dropdown-item" href="#">#</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">#</a>
                    </div>
                </li>
                <!-- Hợp đồng -->
                <li class="nav-item dropdown nav-title">
                    <a class="nav-link dropdown-toggle" href="#" id="contract-bar" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color: black;">
                        <b>Hợp đồng</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">#</a>
                        <a class="dropdown-item" href="#">#</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">#</a>
                    </div>
                </li>
                <!-- Quyết định bổ nhiệm -->
                <li class="nav-item dropdown nav-title">
                    <a class="nav-link dropdown-toggle" href="#" id="hr-decision" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color: black;">
                        <b>Quyết định bổ nhiệm</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">#</a>
                        <a class="dropdown-item" href="#">#</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">#</a>
                    </div>
                </li>
            </ul>
            <!-- Contact us -->
            <div class="form-inline my-2 my-lg-0 contact">
                <!-- <p><i class="fas fa-map-marked fa-fw"></i> 10 Nguyen Trai, Ha Dong, Ha Noi</p> -->
                <p><i class="fa fa-phone fa-fw"></i> Contact us: 0123 456 789</p>
            </div>
        </div>
    </nav>

    <header class="header">Thông tin chi tiết</header>
    <div class="container" style="background-color: rgb(197, 228, 217); border-radius: 10px;">
        <div class="row">
            <div class="col-md-5">
                <img class="image-content" src="/src/main/resources/images/linh_xoan.png" alt="Xoan-xe-go">
            </div>

            <div class="col table-detail">
                <table class="table">
                    <tr class="info-detail">
                        <td>ID Card</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Họ tên</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Ngày sinh</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Giới tính</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Địa chỉ</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Số điện thoại</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Email</td>
                        <td>#</td>
                    </tr>
                </table>
            </div>
        </div>
        <button class="btn btn-danger" style="float: right; margin-top: 5px;">Quay lại</button>
    </div>
    
</body>

</html>