<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Chỉnh sửa thông tin nhân viên</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/main/resources/style.css">

</head>

<body>
 <div th:replace="fragments/topnav :: navbar"></div>
    <header class="header">Thông tin chi tiết</header>
    <div class="container" style="background-color: rgb(197, 228, 217); border-radius: 10px;">
        <div class="row">
            <div class="col-md-5">
                <img class="image-content" src="/src/main/resources/images/linh_xoan.png" alt="Xoan-xe-go">
            </div>

            <div class="col table-detail">
                <table class="table">
                    <tr class="info-detail">
                        <td>ID Card</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Họ tên</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Ngày sinh</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Giới tính</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Địa chỉ</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Số điện thoại</td>
                        <td>#</td>
                    </tr>
                    <tr class="info-detail">
                        <td>Email</td>
                        <td>#</td>
                    </tr>
                </table>
            </div>
        </div>
         <a th:href="@{/employee}"><button class="btn btn-danger" style="float: right; margin-top: 5px;">Quay lại</button></a>
        
    </div>
    
</body>

</html>