<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Trang chủ</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<div th:replace="fragments/topnav :: navbar"></div>
	
	<div>
		<img class="image-index" th:src="@{/images/hrm.jpg}"
			alt="HumanResourceManagement">
	</div>

	<div class="team">
		<div class="container-fluid">
			<h5 class="title-team">Team</h5>
			<p class="title-des">From Cuder with love!</p>

			<div class="row">
				<div class="col">
					<strong class="name-member">Dương Văn Linh</strong><br> <img
						class="avatar-team"
						th:src="@{/images/xoan xe go.PNG}" alt="team1">
				</div>

				<div class="col">
					<strong class="name-member">Hoàng Hà Linh</strong><br> <img
						class="avatar-team"
						th:src="@{/images/xoan xe go.PNG}" alt="team1">
				</div>

				<div class="col">
					<strong class="name-member">Nguyễn Đức Huy</strong><br> <img
						class="avatar-team"
						th:src="@{/images/xoan xe go.PNG}" alt="team1">
				</div>

				<div class="col">
					<strong class="name-member">Nguyễn Thu Trang</strong><br> <img
						class="avatar-team"
						th:src="@{/images/xoan xe go.PNG}" alt="team1">
				</div>

				<div class="col">
					<strong class="name-member">Bùi Thanh Tùng</strong><br> <img
						class="avatar-team"
						th:src="@{/images/xoan xe go.PNG}" alt="team1">
				</div>
			</div>

		</div>
	</div>

	<div class="card-footer footer-copyrights">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>
						<i class="fa fa-copyright"></i> 2021. Team. All rights reserved.
						Designed with from Cuder with love!
					</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>