<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
<title>Quyết định bổ nhiệm</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<div th:replace="fragments/topnav :: navbar"></div>


	<header class="header"> Quyết định bổ nhiệm </header>
	<div class="container">
		<div class="col">
			<!-- searchbar -->
			<div class="row searchbar">
				<div class="col-9">

					<form action="#" method="GET" class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Nhập tên nhân viên" aria-label="search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm
							kiếm</button>
					</form>
				</div>
				<div class="col-3">
					<a class="btn btn-success" th:href="@{/bussiness/appoint-staff}">Bổ nhiệm nhân viên</a>
				</div>
			</div>

			<!-- Danh sách nhân viên -->
			<div>
				<table class="table table-hover table-info"
					style="max-height: 800px;">
					<thead class="head-table">
						<th>#</th>
						<th>Mã NV</th>
						<th>Tên</th>
						<th>Vị trí bổ nhiệm</th>
						<th>Ngày bổ nhiệm</th>

					</thead>
					<tbody>
						<tr th:each="appointment,stat : ${appointments}">
							<th th:text="${stat.index}">#</th>
							<td th:text="${appointment.staff.id}"></td>
							<td th:text="${appointment.staff.member.name}"></td>
							<td th:text="${appointment.title.title_name}"></td>
							<td th:text="${appointment.appointed_date}"></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>

</html>