<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Quyết định thôi việc</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link rel="stylesheet" href="/src/main/resources/style.css" />
</head>

<body>
<div th:replace="fragments/topnav :: navbar"></div>

    <header class="header">
        Quyết định thôi việc
    </header>

    <div class="container-fluid" style="margin-left: 30px;">
        <div class="row">
            <div class="col-lg-8">
                <!-- searchbar -->
                <div class="container searchbar">
                    <form action="#" method="GET" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Nhập tên nhân viên"
                            aria-label="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                    </form>
                </div>
                <div>
                    <table class="table table-hover table-info" style="max-height: 800px;">
                        <thead class="head-table">
                            <th>Mã NV</th>
                            <th>Tên</th>
                            <th>Địa chỉ</th>
                            <th>SĐT</th>
                            <th>Ghi chú</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#</td>
                                <td>#</td>
                                <td>#</td>
                                <td>#</td>
                                <td>#</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col">
                <div class="form-group" style="margin-top: 5px;">
                    <label for="title-staff" style="font-size: 20px;">Lý do thôi việc </label>
                    <div>
                        <textarea class="form-control" rows="5" id="comment" style="max-width: 400px;"></textarea>
                    </div>
                </div>
                <div>
                    <form action="#" method="GET">
                        <button class="btn btn-success" onclick="document.getElementById('notify').style.display='block'" 
                        style="position: relative;">Submit</button>
                    </form>

                    <!-- Modal thông báo -->
                    <div class="modal" id="notify" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered animate">
                            <div class="modal-content">
                            
                                <div class="modal-header">
                                    <h5 class="modal-title">Thông báo</h5>
                                    <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close"
                                    onclick="document.getElementById('notify').style.display='none'">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                
                                <div class="modal-body">
                                    Đã lưu thay đổi!
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    onclick="document.getElementById('notify').style.display='none'">Đóng</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>

    <!-- <script type="text/javascript">
        $('#notify').click(function () {
            window.setTimeout(function () {
                $('#close').click();
            }, 3000)
        });
    </script> -->

</body>

</html>