<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>Edit Salary</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        
        </head>
        <style>
           .labels {
                    font-size: 15px;
                    font-weight: bold;
                }
            body{
                font-family: 'Times New Roman', Times, serif;
            }
        </style>
<body>

    <div class="container rounded bg-white mt-5 mb-5">
        <form action="#" method="POST">
        
            
            <div class="col-md-6 border-right">
                <div class="p-3 py-5">
                   <h4>CHỈNH SỬA THÔNG TIN MỨC LƯƠNG</h4>
                  
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Loại lương</label>
                             <input type="text" class="form-control" value="SL1" ></div>
                        <div class="col-md-12"><label class="labels">Hệ số lương</label>
                             <input type="text" class="form-control" value="3.6"  ></div>
                        <div class="col-md-12"><label class="labels">Mức lương</label>
                             <input type="text" class="form-control" value="3600000"  readonly ></div>
                        <div class="col-md-12"><label class="labels">Ghi chú</label>
                            <textarea type="text"  class="form-control"   > ALo alo alo  </textarea></div>
                        
                        
                        
                    </div>
                    
                </div>
            </div>
           
            
           
        </div>
        <button type="submit" class="btn btn-info"  style="margin-left: 500px;">Xác nhận</button>
            

    </form>
                <button class="btn btn-danger"  style="margin-left: 0px;"> Hủy </button>
    </div>
    



</body>
</html>