<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <title>Salary</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container" style="padding-bottom: 100px !important">
    
      <form action="Tim kiem" method="POST"></form>
      <div class="input-group col-md-6" style="padding-top: 50px; padding-bottom: 50px;">
        <input type="text" class="form-control" placeholder="Nhập chức vụ hoặc mã lương">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      </form>


    <table class="table table-striped table-responsive-md table-hover table-bordered" >
      <h3>LƯƠNG NĂNG SUẤT <a href="insert.html"><button class="btn btn-info" style="margin-left: 660px; ">Thêm mức lương mới</button></a> </h3>
      
      <br>
      <thead style="background-color: rgb(98, 232, 250); align-items: center;">
        <tr>
          <th>#</th>
          <th>Mã lương năng suất</th>
          <th>Chức vụ</th>
          <th>Tên lương năng suất</th>
          <th>Mức lương năng suất</th>
          <th>Ghi chú</th>
          <th>#</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            GĐ01
          </td>
          <td>Giám đốc</td>
          <td>1/2</td>
          <td>6000000</td>
          <td></td>
          <td>
            <button class="btn"><i class="fa fa-edit"  style="font-size: 20px;"></i></button>
            <button class="btn"><i class="fa fa-times" style="font-size: 20px;"></i></button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</body>

</html>